body {
  margin: 0;
  font-family: Arial, sans-serif;
  overflow: hidden;
  background: #833AB4;
  background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  font-family: "Racing Sans One",Arial, Helvetica, sans-serif;
  color: #000019;
}

#game-container {
  position: relative;
  width: 90%;
  max-width: 400px;
  height: 600px;
  margin: 20px auto;
  border: 5px solid #6d6d6d;
  background-image: url(../img/fondoCarrera.png);
  background-size: cover;

  overflow: hidden;
  border-radius: 20px;
}

.personaje {
  position: absolute;
  width: 50px;
  height: 80px;
  background-image: url(../img/DkKart.png);
  border-radius: 10px;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.obstaculo {
  position: absolute;
  width: 50px;
  height: 80px;
  background-image: url(../img/obstaculo.png);
  border-radius: 10px;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  max-width: 90%;
  box-sizing: border-box;
}

#start-button {
  padding: 14px 28px;
  font-size: 22px;
  font-family: "Racing Sans One", Arial, sans-serif;
  background: linear-gradient(135deg, #ffcc00 0%, #ff6600 100%);
  color: #000;
  border: 3px solid #fff;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(255, 204, 0, 0.7);
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  margin: 10px 0;
}

#start-button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.9), 0 0 10px rgba(255, 204, 0, 0.9);
  background: linear-gradient(135deg, #ffee00 0%, #ff9900 100%);
}

#start-button:active {
  transform: scale(0.95);
  box-shadow: 0 0 10px rgba(255, 153, 0, 0.7);
}


#mobile-controls {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
}

#mobile-controls button {
  padding: 15px 20px;
  font-size: 24px;
  background-color: #07a07c;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

#mobile-controls button:active {
  background-color: #058c6b;
}

#top-controls {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

#top-controls button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

#top-controls button:active {
  background-color: #555;
}